<?xml version="1.0" encoding="utf-8" ?>
<config>
	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
			>
		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				validate="rules"
				filter="rules"
				component="com_punishment"
				section="component"
				/>
	</fieldset>
	<fieldset
		name="configs"
		label="COM_PUNISHMENT_CONFIG_LABEL"
		description="COM_PUNISHMENT_CONFIG_DESCRIPTION"
	>
		<field
			name="reset_interval"
			type="number"
			label="COM_PUNISHMENT_FIELD_RESET_INTERVAL_LABEL"
			description="COM_PUNISHMENT_FIELD_RESET_INTERVAL_DESC"
			default="1"
		/>
		<field
			name="redemption_cost"
			type="number"
			label="COM_PUNISHMENT_FIELD_REDEMPTION_COST_LABEL"
			description="COM_PUNISHMENT_FIELD_REDEMPTION_COST_DESC"
			default="1000"
		/>
		<field
			name="redemption_cost_increment"
			type="number"
			label="COM_PUNISHMENT_FIELD_REDEMPTION_COST_INCREMENT_LABEL"
			description="COM_PUNISHMENT_FIELD_REDEMPTION_COST_INCREMENT_DESC"
			default="500"
		/>
		<!--<field
			name="private"
			type="checkbox"
			label="COM_PUNISHMENT_FIELD_PRIVATE_LABEL"
			description="COM_PUNISHMENT_FIELD_PRIVATE_DESC"
			default="0"
		/>-->
	</fieldset>
</config>